/**
 * @file
 */

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #FFFFFF;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

p {
  margin: 0 0 1em;
}

a {
  color: #06e;
}
a:visited {}
a:hover {
  color: #00e;
}
a:focus {}
a:hover,
a:active {}

a.more {
  font-style: normal;
  text-decoration: none !important;
}
a.more:after {
  content: " \25B8";
}
a.more:hover {
  text-decoration: none !important;
}
a.more:hover:after {

}
a.more em {
  font-style: inherit;
  text-decoration: underline;

}
a.more:hover em {
  text-decoration: none;
}

a.permalink {
  visibility: hidden;
  text-decoration: none;
  color: #CCCCCC;
  margin-left: 0.5em;
}
a.permalink:hover {
  background: transparent;
  color: #C60F0F;
  text-decoration: none;
}
.node-title:hover  a.permalink,
.block-title:hover a.permalink {
  visibility: visible;
}
