/**
 * @file
 */

.node {
  margin: 0 0 1em;
}
.node-promoted {

}
.node-sticky {

}
.node-teaser {

}
.node-full {

}
.preview .node,
.node-unpublished {
  outline: 2px dashed #CCCCCC;
  outline-offset: 5px;
  min-height: 5em;
}

.node header {

}
.node header .unpublished {
  height: 0;
  overflow: visible;
  color: #CCCCCC;
  font: 5em/1 "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
  text-align: center;
  text-transform: lowercase;
  text-shadow: 1px 1px 3px #f00;
  margin: 0;
  padding: 0;
}

.node .node-title {

}

.node .submitted {

}
.node .submitted img {
  height: 30px;
}
.node > .node-content {

}

.node ul.links {
  margin: 0;
  padding: 0;
}
.node ul.links li {
  list-style: none none;
}
.node ul.links li a {

}
