/**
 * @file
 *
 * Tabs.
 */

ul.tabs {
  *zoom: 1;
}
ul.tabs:before,
ul.tabs:after {
  display: table;
  content: "";
}
ul.tabs:after {
  clear: both;
}
ul.tabs > li {
  float: left;
}
ul.tabs > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
ul.tabs {
  border-bottom: 1px solid #ddd;
  margin: 0 0 1em;
  padding: 0;
}
ul.tabs > li {
  margin-bottom: -1px;
  list-style: none none;
}
ul.tabs > li > a {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  text-decoration: none;
  border: 1px solid transparent;
  color: #0088CC !important;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}
ul.tabs > li > a:hover {
color: #555555 !important;
  border-color: #eeeeee #eeeeee #dddddd;
}
ul.tabs > .active > a,
ul.tabs > .active > a:hover,
ul.tabs > .active > a:focus {
  color: #555555 !important;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
