/**
 * @file
 * font.css
 *
 * Use this style-sheet to define Webfont styles.
 * Usually font-family, font-weight and font-size could be defined here.
 * Keep all other styles in theme.css.
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700);

h1,
h2,
h3,
h4,
h5,
h6,
thead th,
.sf-menu a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
