/**
 * @file
 */

/**
 * Skip link.
 */
#skip-link {
  margin-top: 0;
  position: absolute;
  left: 50%;
  margin-left: -5.25em;
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  display: block;
  background: #444;
  color: #fff;
  font-size: 0.94em;
  padding: 1em 10px 1em 10px;
  text-decoration: none;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0 3px 20px #000;
  box-shadow: 0 3px 20px #000;
}
#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}


#page {

}
.page-width {
  margin: 0 auto;
  padding: 0;
  max-width: 1000px;
  min-width: 320px;
  /*width: 1000px;*/
}
.page-width-inner {
  padding: 0 20px;
}

#header {

}
#header .page-width {

}
#header .page-width-inner {

}
#name-and-slogan {
  padding: 1em 0;
}
#name-and-slogan a {
  text-decoration: none;
}
#name-and-slogan a:after {
  content: '';
}
#site-logo {
  float: left;
  margin-right: 20px;
}
#site-name {

}
#site-slogan {

}


#main {

}
#main .page-width-inner {

}
#main section.column,
#main aside.column {
  padding: 0;
}
#main section.column > .column-content,
#main aside.column   > .column-content {
  padding-bottom: 2em;
}
#main section#content {

}
#main aside#sidebar-first {

}
#main aside#sidebar-second {

}

#footer {

}
#footer .page-width-inner {

}
#footer-bottom {

}
#footer-bottom .page-width-inner {

}



#main section.column img,
#main aside.column   img {
  height: auto;
  max-width: 100%;
}


.first {}
.last {}
.odd {}
.even {}

