/**
 * @file
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: normal;
  margin: 0 0 0.5em;
  line-height: 1;
  text-rendering: optimizelegibility;
}
h1#page-title {
  font-size: 2em;
}
h2 {
  font-size: 1.7142em;
}
h3 {

}
h4 {

}
h5 {

}
h6 {

}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {

}
h1 a:after,
h2 a:after,
h3 a:after,
h4 a:after,
h5 a:after,
h6 a:after {
  /*content: " \25B8";*/
}
