/**
 * @file
 */

html, body {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  background-color: #FFFFFF;
}

a {
  color: #06e;
}

a:visited {

}

a:hover {
  color: #00e;
}

a:focus {

}
a:hover,
a:active {

}

a.more {
  font-style: normal;
  text-decoration: none !important;
}
a.more:after {
  content: " \25B8";
}
a.more:hover {
  text-decoration: none !important;
}
a.more:hover:after {

}
a.more em {
  font-style: inherit;
  text-decoration: underline;
}
a.more:hover em {
  text-decoration: none;
}

a.permalink {
  visibility: hidden;
  text-decoration: none;
  color: #CCCCCC;
  margin-left: 0.5em;
}
a.permalink:hover {
  background: transparent;
  color: #C60F0F;
  text-decoration: none;
}

.node-title:hover  a.permalink,
.block-title:hover a.permalink {
  visibility: visible;
}

#main a {
  -webkit-transition: all 1s linear;  /* Safari 3.2+, Chrome */
     -moz-transition: all 1s linear;  /* Firefox 4-15 */
       -o-transition: all 1s linear;  /* Opera 10.5–12.00 */
          transition: all 1s linear;  /* Firefox 16+, Opera 12.50+ */
}




/**
 * Modernzr examples.
 *
 * @see http://modernizr.com/docs/.
 */
.canvas SELECTOR {}
.canvastext SELECTOR {}
.webgl SELECTOR {}
.no-touch SELECTOR {}
.geolocation SELECTOR {}
.hashchange SELECTOR {}
.history SELECTOR {}
.draganddrop SELECTOR {}
.rgba SELECTOR {}
.borderradius SELECTOR {}
.boxshadow SELECTOR {}
.textshadow SELECTOR {}
.opacity SELECTOR {}
.cssanimations SELECTOR {}
.csscolumns SELECTOR {}
.cssgradients SELECTOR {}
.cssreflections SELECTOR {}
.csstransforms SELECTOR {}
.csstransforms3d SELECTOR {}
.csstransitions SELECTOR {}
.fontface SELECTOR {}
.video SELECTOR {}
.audio SELECTOR {}
